# Godot 4+ specific ignores
.godot/
.history/*
.vscode/*
*.keystore
*.build
android/*
android
addons_examples/*
assets/edited/*
assets/musics/unedited/*
assets/references/*
assets/sound_effects/unused/*
assets/saved_images/*
fonts/Poppins/*
releases/*
secrets/*